.fixed-btn {
      position: fixed;
      bottom: 20px;
      width: 60px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      border: none;
      border-radius: 50%;
      font-size: 24px;
      cursor: pointer;
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(5px);
      transition: background-color 0.3s;
    }

    .fixed-btn:hover,.scroll-top-btn:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }

    .scroll-top-btn {
      bottom: 90px;
      right: 20px;
    }

    .back-btn {
      right: 90px;
    }

    .scroll-bottom-btn {
      right: 20px;
    }